.home-layout-container {
  position: relative;
  background-color: var(--backgroundColor);
}
.home-layout-products {
  width: 95%;
  min-height: 100vh;
  margin: 2rem 2.5% 0 2.5%;
  background-image: url("../assists/product-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
}
.products-page {
  padding: 7rem 2.5% 0 2.5%;
  min-height: calc(100vh - 7rem);
  background-color: var(--backgroundColor);
}
